#vl {
    position: relative;
    width: 30px;
    height: 30px;
    width: 50%;
    height: 50%;
    border: 3px solid rgb(255, 196, 0);
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
  }

#goalIcon {
    position: relative;
    left: 50px;
    top: 50px;
    transition: left .5s ease-in, top .5s ease-in;
}